<ion-view view-title="{{ 'CATEGORY_PAGE_COMMUNICATION_ASKING_FOR_FEEDBACK' | translate }}" ng-init="pageTitle = 'CATEGORY_PAGE_COMMUNICATION_ASKING_FOR_FEEDBACK'">
	<ion-nav-buttons side="right">
		<button class="button transparent-background" ng-click="favor('CATEGORY_PAGE_COMMUNICATION_ASKING_FOR_FEEDBACK')">
			<i class="icon" ng-class="{'ion-ios-heart': isActive, 'ion-ios-heart-outline': !isActive}"></i>
		</button>
	</ion-nav-buttons>
	<ion-content ng-controller="accordion">
		<div class="row">
			<div class="col">
				<ion-list>
					<ion-item class="item-stable white-space-normal" ng-click="setView(1)">
						<i class="icon pull-right" ng-class="view === 1 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span translate="COMMUNICATION_ASKING_FOR_FEEDBACK_HEADLINE_1">
							1. It is inquiring into another person’s views and seeking to understand.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 1">
						<p translate="COMMUNICATION_ASKING_FOR_FEEDBACK_TEXT_1">
							The basis for asking for all feedback is to find out about the other person(s) views and really show you are trying to understand their point of view.
						</p>
					</ion-item>
					
					<ion-item class="item-stable white-space-normal" ng-click="setView(2)">
						<i class="icon pull-right" ng-class="view === 2 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span translate="COMMUNICATION_ASKING_FOR_FEEDBACK_HEADLINE_2">
							2. Inquire into other person(s) views.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 2">
						<p translate="COMMUNICATION_ASKING_FOR_FEEDBACK_TEXT_2">
							Begin by saying you want to gather some feedback and you would appreciate their view.
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(3)">
						<i class="icon pull-right" ng-class="view === 3 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span translate="COMMUNICATION_ASKING_FOR_FEEDBACK_HEADLINE_3">
							3. Tell why you are asking the question.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 3">
						<p translate="COMMUNICATION_ASKING_FOR_FEEDBACK_TEXT_3">
							Always explain ‘why’ you are asking for feedback in order to put context around the question.
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(4)">
						<i class="icon pull-right" ng-class="view === 4 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span translate="COMMUNICATION_ASKING_FOR_FEEDBACK_HEADLINE_4">
							4. Seek to understand.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 4">
						<p translate="COMMUNICATION_ASKING_FOR_FEEDBACK_TEXT_4">
							Really show that you are trying to understand their point of view, this will need to come from you and if face to face show you are listening via facial signals and tonality of your voice.
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(5)">
						<i class="icon pull-right" ng-class="view === 5 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span translate="COMMUNICATION_ASKING_FOR_FEEDBACK_HEADLINE_5">
							5. Genuinely listen.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 5">
						<p translate="COMMUNICATION_ASKING_FOR_FEEDBACK_TEXT_5">
							This is the most important part. You have asked for feedback now it’s your chance to stay quiet and really listen to what they have to say, ‘actively listen’ instead of waiting to talk again!
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(6)">
						<i class="icon pull-right" ng-class="view === 6 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span translate="COMMUNICATION_ASKING_FOR_FEEDBACK_HEADLINE_6">
							6. Be willing to experiment.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 6">
						<p translate="COMMUNICATION_ASKING_FOR_FEEDBACK_TEXT_6">
							Sometimes the first try at inquiring and receiving feedback might not go exactly as planned so be ready to try again and show your willingness to understand the other person(s) point of view.
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(7)">
						<i class="icon pull-right" ng-class="view === 7 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span translate="COMMUNICATION_ASKING_FOR_FEEDBACK_HEADLINE_7">
							7. Think about how you will use the feedback?
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 7">
						<p translate="COMMUNICATION_ASKING_FOR_FEEDBACK_TEXT_7">
							Finally once you have received the feedback it is now time to decide how you want to use the feedback. After all receiving the feedback can often be easy but acting on the feedback to make a change is the part when the process will have been worthwhile.
						</p>
					</ion-item>
				</ion-list>
			</div>
		</div>
	</ion-content>
</ion-view>