<ion-view view-title="{{ 'CATEGORY_PAGE_COMMUNICATION_BREAKING_A_COMMITMENT_PROFESSIONALLY' | translate }}" ng-init="pageTitle = 'CATEGORY_PAGE_COMMUNICATION_BREAKING_A_COMMITMENT_PROFESSIONALLY'">
	<ion-nav-buttons side="right">
		<button class="button transparent-background" ng-click="favor('CATEGORY_PAGE_COMMUNICATION_BREAKING_A_COMMITMENT_PROFESSIONALLY')">
			<i class="icon" ng-class="{'ion-ios-heart': isActive, 'ion-ios-heart-outline': !isActive}"></i>
		</button>
	</ion-nav-buttons>
	<ion-content ng-controller="accordion">
		<div class="row">
			<div class="col">
				<ion-list>
					<ion-item class="item-stable white-space-normal" ng-click="setView(1)">
						<i class="icon pull-right" ng-class="view === 1 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							1. Acknowledge commitment you made.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 1">
						<p>
							 I committed to do X by Y to deliver Z." (X=Condition of Satisfaction; Y=Deadline; Z=Project)
						</p>
					</ion-item>
					
					<ion-item class="item-stable white-space-normal" ng-click="setView(2)">
						<i class="icon pull-right" ng-class="view === 2 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							2. Inform requestor that the commitment is at risk.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 2">
						<p>
							a) Delay “I cannot now deliver by Y."<br />
							b) Withdrawal “I won’t be able to deliver X.”
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(3)">
						<i class="icon pull-right" ng-class="view === 3 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							3. Apologise, and explain what happened (facts not excuses).
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 3">
						<p>
							“I apologise and want to explain what happened..."
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(4)">
						<i class="icon pull-right" ng-class="view === 4 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							4. Inquire about consequences and offer reparations.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 4">
						<p>
							 “What would happen if I don’t deliver X and what can I do to make the situation better?"
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(5)">
						<i class="icon pull-right" ng-class="view === 5 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							5. Re-negotiate and agree on new commitment.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 5">
						<p>
							“I would like to agree on a new commitment deadline”.
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(6)">
						<i class="icon pull-right" ng-class="view === 6 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							6. Extract learning for the future.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 6">
						<p>
							“What can we learn from this?"
						</p>
					</ion-item>

				</ion-list>
			</div>
		</div>
	</ion-content>
</ion-view>