<ion-view view-title="{{ 'CATEGORY_PAGE_COMMUNICATION_COMMUNICATING_WITH_SOMEONE_WHO_BROKE_THEIR_COMMITMENT' | translate }}" ng-init="pageTitle = 'CATEGORY_PAGE_COMMUNICATION_COMMUNICATING_WITH_SOMEONE_WHO_BROKE_THEIR_COMMITMENT'">
	<ion-nav-buttons side="right">
		<button class="button transparent-background" ng-click="favor('CATEGORY_PAGE_COMMUNICATION_COMMUNICATING_WITH_SOMEONE_WHO_BROKE_THEIR_COMMITMENT')">
			<i class="icon" ng-class="{'ion-ios-heart': isActive, 'ion-ios-heart-outline': !isActive}"></i>
		</button>
	</ion-nav-buttons>
	<ion-content ng-controller="accordion">
		<div class="row">
			<div class="col">
				<ion-list>
					<ion-item class="item-stable white-space-normal" ng-click="setView(1)">
						<i class="icon pull-right" ng-class="view === 1 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							1. Check clarity of commitment.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 1">
						<p>
							“Did you understand what you had to do?"
						</p>
					</ion-item>
					
					<ion-item class="item-stable white-space-normal" ng-click="setView(2)">
						<i class="icon pull-right" ng-class="view === 2 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							2. Verify delivery or progress.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 2">
						<p>
							a) “Have you been able to deliver (yes / no)?”<br />
							b) “Have you made progress towards expected outcome?”
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(3)">
						<i class="icon pull-right" ng-class="view === 3 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							3. Inquire about what happened (facts not excuses)
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 3">
						<p>
							“Please give me the facts why you couldn’t deliver?"
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(4)">
						<i class="icon pull-right" ng-class="view === 4 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							4. Be honest about consequences (for you, them and the business)
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 4">
						<p>
							 “I want to explain to you what the consequences of not delivering are to us/team/business."
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(5)">
						<i class="icon pull-right" ng-class="view === 5 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							5. Re-negotiate and agree on new commitment
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 5">
						<p>
							“Let’s agree a new delivery date and time."
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(6)">
						<i class="icon pull-right" ng-class="view === 6 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							6. Extract learning for the future.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 6">
						<p>
							“What can we learn from this?”
						</p>
					</ion-item>

				</ion-list>
			</div>
		</div>
	</ion-content>
</ion-view>