<ion-view view-title="{{ 'CATEGORY_COMMUNICATION_TITLE' | translate }}">
	<ion-content>
		<div class="row">
			<div class="col">
				<a ui-sref="tabs.before-making-a-commitment" class="button button-block button-light" translate="CATEGORY_COMMUNICATION_BEFORE_MAKING_A_COMMITMENT">
					Before Making a Commitment
				</a>
				<a ui-sref="tabs.getting-commitment" class="button button-block button-light" translate="CATEGORY_COMMUNICATION_GETTING_COMMITMENT">
					Getting Commitment
				</a>
				<a ui-sref="tabs.breaking-a-commitment-professionally" class="button button-block button-light" translate="CATEGORY_COMMUNICATION_BREAKING_A_COMMITMENT_PROFESSIONALLY">
					Breaking a Commitment Professionally
				</a>
				<a ui-sref="tabs.communicating-with-someone-who-broke-their-commitment" class="button button-block button-light" translate="CATEGORY_COMMUNICATION_COMMUNICATING_WITH_SOMEONE_WHO_BROKE_THEIR_COMMITMENT">
					Communicating with someone who broke their Commitment
				</a>
				<a ui-sref="tabs.giving-constructive-feedback" class="button button-block button-light" translate="CATEGORY_COMMUNICATION_GIVING_CONSTRUCTIVE_FEEDBACK">
					Giving constructive Feedback
				</a>
				<a ui-sref="tabs.writing-clear-and-efficient-emails" class="button button-block button-light" translate="CATEGORY_COMMUNICATION_WRITING_CLEAR_AND_EFFICIENT_EMAIL">
					Writing Clear and Efficient Emails
				</a>
				<a ui-sref="tabs.asking-for-feedback" class="button button-block button-light" translate="CATEGORY_COMMUNICATION_ASKING_FOR_FEEDBACK">
					Asking for Feedback
				</a>
				<a ui-sref="tabs.presenting-with-impact" class="button button-block button-light" translate="CATEGORY_COMMUNICATION_PRESENTING_WITH_IMPACT">
					Presenting with Impact
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>