<ion-view view-title="{{ 'CATEGORY_PAGE_COMMUNICATION_DEALING_WITH_STRESS' | translate }}" ng-init="pageTitle = 'CATEGORY_PAGE_COMMUNICATION_DEALING_WITH_STRESS'">
	<ion-nav-buttons side="right">
		<button class="button transparent-background" ng-click="favor('CATEGORY_PAGE_COMMUNICATION_DEALING_WITH_STRESS')">
			<i class="icon" ng-class="{'ion-ios-heart': isActive, 'ion-ios-heart-outline': !isActive}"></i>
		</button>
	</ion-nav-buttons>
	<ion-content ng-controller="accordion">
		<div class="row">
			<div class="col">
				<ion-list>
					<ion-item class="item-stable white-space-normal" ng-click="setView(1)">
						<i class="icon pull-right" ng-class="view === 1 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							1. Refrain from trying to repress/control the stress/fear
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 1">
						<p>
							 Try rather to observe it and acknowledge that this response to a stressful situation indicates that your body is working exactly as it should.
						</p>
					</ion-item>
					
					<ion-item class="item-stable white-space-normal" ng-click="setView(2)">
						<i class="icon pull-right" ng-class="view === 2 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							2. Breathe with your diaphragm
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 2">
						<p>
							a) Place one hand on your stomach (belly button) and one on your chest.<br />
							b) Exhale completely.<br />
							c) Inhale by expanding your lower diaphragm (the hand on your chest should remain completely still), exhale completely, and repeat.<br />
							d) Focus your eyes on one point, pay attention to every breath and continue breathing<br />
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(3)">
						<i class="icon pull-right" ng-class="view === 3 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							3. Power pose
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 3">
						<p>
							a) Find a private place (bathroom stalls works great).<br />
							b) Place feet more than shoulder width apart.<br />
							c) Extend arms up above head and look up- as if in triumph.<br />
							d) Smile.<br />
							e) Hold this position for at least 2 minutes.
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(4)">
						<i class="icon pull-right" ng-class="view === 4 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							4. Listen to music
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 4">
						<p>
							Listen to uplifting music - something that makes you feel inspired, empowered, and connected. If possible, combine with step 3.
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(5)">
						<i class="icon pull-right" ng-class="view === 5 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							5. Find a view
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 5">
						<p>
							Find a panoramic view or a large open space to look out on. Combine with step 2.
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(6)">
						<i class="icon pull-right" ng-class="view === 6 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							6. Visualize your success
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 6">
						<p>
							a) Vividly imagine yourself succeeding in the upcoming situation.<br />
							b) Close your eyes and feel the feelings you would feel after successfully completing upcoming task.
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(7)">
						<i class="icon pull-right" ng-class="view === 7 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							7. Reaffirm and tap
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 7">
						<p>
							a) Repeat your own power phrase out loud, “I choose to love and accept myself, and give myself permission to feel confident and secure.”<br />
							b) In the meantime sequentially tap on the following points with the tip of a finger (for 2-5 minutes): Eye socket where the tip of the eyebrow ends at the nose; Side of the eye socket closest to the temple; Bottom of the eye socket where it meets the check bone; Space between upper lip and nose; Space between lower lip and chin; Collar bone; Crown of the head, On the rib cage under the armpit level with the bottom of the pectoral
						</p>
					</ion-item>
				</ion-list>
			</div>
		</div>
	</ion-content>
</ion-view>