<ion-view view-title="{{ 'CATEGORY_PAGE_COMMUNICATION_GETTING_COMMITMENT' | translate }}" ng-init="pageTitle = 'CATEGORY_PAGE_COMMUNICATION_GETTING_COMMITMENT'">
	<ion-nav-buttons side="right">
		<button class="button transparent-background" ng-click="favor('CATEGORY_PAGE_COMMUNICATION_GETTING_COMMITMENT')">
			<i class="icon" ng-class="{'ion-ios-heart': isActive, 'ion-ios-heart-outline': !isActive}"></i>
		</button>
	</ion-nav-buttons>
	<ion-content ng-controller="accordion">
		<div class="row">
			<div class="col">
				<ion-list>
					<ion-item class="item-stable white-space-normal" ng-click="setView(1)">
						<i class="icon pull-right" ng-class="view === 1 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							1. Explain the context briefly and state why the action is important.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 1">
						<p>
							“In order to achieve Z I wanted to provide you with the context around the task that needs to be done."
						</p>
					</ion-item>
					
					<ion-item class="item-stable white-space-normal" ng-click="setView(2)">
						<i class="icon pull-right" ng-class="view === 2 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							2. State your request and leave no ambiguity.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 2">
						<p>
							"Can you please do X by Y" (X=Condition of Satisfaction; Y=Deadline)
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(3)">
						<i class="icon pull-right" ng-class="view === 3 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							3. Check if clarification is needed.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 3">
						<p>
							a) Deliverables. “Do you understand what I am asking of you?"<br />
							b) Execution. “Do you need clarification on how the task should be done?”<br />
							c) Deadline. “Do you understand when I want you to deliver?"
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(4)">
						<i class="icon pull-right" ng-class="view === 4 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							4. Clarify resource requirements.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 4">
						<p>
							“What do you need from me / us to deliver?”
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(5)">
						<i class="icon pull-right" ng-class="view === 5 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							5. Ask for confirmation.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 5">
						<p>
							a) “Can you commit?"<br />
							b) “Can you deliver in the time given?"
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(6)">
						<i class="icon pull-right" ng-class="view === 6 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							Listen and restate your commitment request if not understood.
						</span>
					</ion-item>
				</ion-list>
			</div>
		</div>
	</ion-content>
</ion-view>