<ion-view view-title="{{ 'CATEGORY_PAGE_COMMUNICATION_GIVING_CONSTRUCTIVE_FEEDBACK' | translate }}" ng-init="pageTitle = 'CATEGORY_PAGE_COMMUNICATION_GIVING_CONSTRUCTIVE_FEEDBACK'">
	<ion-nav-buttons side="right">
		<button class="button transparent-background" ng-click="favor('CATEGORY_PAGE_COMMUNICATION_GIVING_CONSTRUCTIVE_FEEDBACK')">
			<i class="icon" ng-class="{'ion-ios-heart': isActive, 'ion-ios-heart-outline': !isActive}"></i>
		</button>
	</ion-nav-buttons>
	<ion-content ng-controller="accordion">
		<div class="row">
			<div class="col">
				<ion-list>
					<ion-item class="item-stable white-space-normal" ng-click="setView(1)">
						<i class="icon pull-right" ng-class="view === 1 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							1. Ask for permission and define situation.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 1">
						<p>
							Ensure the timing is right for the receiver and describe the situation you would like to address including ’where’ and ’when’ “Do you have a minute for quick feedback on our client meeting from this morning?
						</p>
					</ion-item>
					
					<ion-item class="item-stable white-space-normal" ng-click="setView(2)">
						<i class="icon pull-right" ng-class="view === 2 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							2. Start with genuine positive feedback about receiver’s behaviour and skills.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 2">
						<p>
							a) Be specific in describing the positive behaviour. “Firstly, I really liked how you handled the Q&A session; you were confident, gave clear and concise answers backed up with hard numbers."<br />
							b) Emphasize receiver’s positive skills. “It seems like you are very good at ...”
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(3)">
						<i class="icon pull-right" ng-class="view === 3 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							3. State the action / behaviour observed by you directly that could be improved.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 3">
						<p>
							a) Use the “I” form. “I noticed...”;” What I think could be improved is...”<br />
							b) Be specific in describing your observation “When presenting slide 4, you...”
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(4)">
						<i class="icon pull-right" ng-class="view === 4 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							4. State the impact of behaviour on the client / team / department / organization.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 4">
						<p>
							 Explain why you think corrective action is important. “I think the client interpreted it as...”
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(5)">
						<i class="icon pull-right" ng-class="view === 5 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							5. Pause and let the receiver respond.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 5">
						<p>
							 Ask for their input / their perception of the situation. “How did you see this situation?”
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(6)">
						<i class="icon pull-right" ng-class="view === 6 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							6. Inspire to improve by sharing concrete example for improvement
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 6">
						<p>
							Give 1-2 actionable recommendations to improve behaviour. “Next time you could...”
						</p>
					</ion-item>

				</ion-list>
			</div>
		</div>
	</ion-content>
</ion-view>