<ion-view view-title="{{ 'CATEGORY_PAGE_COMMUNICATION_PRESENTING_WITH_IMPACT' | translate }}" ng-init="pageTitle = 'CATEGORY_PAGE_COMMUNICATION_PRESENTING_WITH_IMPACT'">
	<ion-nav-buttons side="right">
		<button class="button transparent-background" ng-click="favor('CATEGORY_PAGE_COMMUNICATION_PRESENTING_WITH_IMPACT')">
			<i class="icon" ng-class="{'ion-ios-heart': isActive, 'ion-ios-heart-outline': !isActive}"></i>
		</button>
	</ion-nav-buttons>
	<ion-content ng-controller="accordion">
		<div class="row">
			<div class="col">
				<ion-list>
					<ion-item class="item-stable white-space-normal" ng-click="setView(1)">
						<i class="icon pull-right" ng-class="view === 1 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							1. Build Confidence
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 1">
						<p>
							a) <strong>Competence.</strong> You are the subject matter expert so make sure you know your content inside out.
						</p>
						<p>
							b) <strong>Rehearsal.</strong> Practice your presentation, live and out loud, several times in advance. Use video feedback.
						</p>
						<p>
							c) <strong>Experience.</strong> Get as much presentation experience as possible.  Take initiative and ask your superior for more presentation exposure.
						</p>
					</ion-item>
					
					<ion-item class="item-stable white-space-normal" ng-click="setView(2)">
						<i class="icon pull-right" ng-class="view === 2 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							2. Preparation 
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 2">
						<p>
							a) <strong>Specific Purpose..</strong> What exactly do you want your listeners to know, believe, think or do by the time your presentation is over. Make sure the “what” and “why” is clear.
						</p>
						<p>
							b) <strong>Audience Analysis.</strong> Get as much information about your audience in advance so that you can better tailor your message to the audience needs.
						</p>
						<p>
							c) <strong>Assess Occasion.</strong> Physical layout of room. Logistics. Lighting. Seating. Screen position. Technical Support.
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(3)">
						<i class="icon pull-right" ng-class="view === 3 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							3. Structure
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 3">
						<p>
							a) <strong>Opening and Closing.</strong> The most important parts of your presentation.  Grab attention and engage your audience at the beginning with a question, anecdote, specific purpose or a startling fact. Close strongly with a memorable message.
						</p>
						<p>
							b) <strong>Informative Presentation.</strong> Opening – Key Point 1 (facts, anecdote, quote) – Key Point 2 (facts, anecdote, quote) – Key Points 3, 4, 5 - Conclusion
						</p>
						<p>
							c) <strong>Persuasive Presentation.</strong> Opening – Current Situation – Negative Consequences of Current Situation – Your Proposal – How To Implement Your Proposal – Positive Results – Next Steps - Conclusion
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(4)">
						<i class="icon pull-right" ng-class="view === 4 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							4. Body Language
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 4">
						<p>
							a) <strong>Eye contact.</strong> Too little eye contact is interpreted as impolite, uninterested or unconfident. Scan room equally.
						</p>
						<p>
							b) <strong>Stance and Gestures.</strong> Feet shoulder width apart, toes pointed forward and stand up straight. Gestures should be appropriate and flowing, not quick and abrupt. 
						</p>
						<p>
							c) <strong>Movement.</strong> Avoid swaying back and forth. Stride with purpose to points on the floor which do not block audience. 
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(5)">
						<i class="icon pull-right" ng-class="view === 5 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							5. Voice
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 5">
						<p>
							a) <strong>Speed.</strong> Not too fast or too slow. Use pauses and silence to let message sink in.
						</p>
						<p>
							b) <strong>Volume.</strong> Project voice. Vary tone and place emphasis on key words.
						</p>
						<p>
							c) <strong>Enthusiasm.</strong> Be passionate and interested in your topic. If you are not, why should the audience be interested? Avoid “ahh, um, ehh”.
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(6)">
						<i class="icon pull-right" ng-class="view === 6 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							6. Dealing With Anxiety
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 6">
						<p>
							a) <strong>Preparation and Rehearsal.</strong> Make sure you are well prepared, know your content and have rehearsed the presentation live several times.
						</p>
						<p>
							b) <strong>Breathing Techniques.</strong> Speak slowly. Take longer pauses between sentences. Breathe from your diaphragm and through your nose. Breathing is achieving!
						</p>
						<p>
							c) <strong>Mental State.</strong> Positive mental attitude. Visualize yourself succeeding. Accept nervousness as completely normal and transform it into vitality and enthusiasm.
						</p>
					</ion-item>

					<ion-item class="item-stable white-space-normal" ng-click="setView(7)">
						<i class="icon pull-right" ng-class="view === 7 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							7. Q&A Tips
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 7">
						<p>
							a) <strong>Manage the Room.</strong> Remain assertive during the Q&A session and do not let your energy or concentration lapse. The space is still yours – treat it that way.
						</p>
						<p>
							b) <strong>Listen Carefully.</strong> Make sure your fully understand the question. Repeat it out loud for yourself and the entire audience.
						</p>
						<p>
							c) <strong>Decide.</strong> Decide if you should answer it, throw it back to the audience or forward the question to an expert. If no expert in the room, exchange contact info with questioner and get back to them with the expert info.
						</p>
					</ion-item>
				</ion-list>
			</div>
		</div>
	</ion-content>
</ion-view>