<ion-view view-title="{{ 'CATEGORY_PAGE_COMMUNICATION_WRITING_CLEAR_AND_EFFICIENT_EMAIL' | translate }}" ng-init="pageTitle = 'CATEGORY_PAGE_COMMUNICATION_WRITING_CLEAR_AND_EFFICIENT_EMAIL'">
	<ion-nav-buttons side="right">
		<button class="button transparent-background" ng-click="favor('CATEGORY_PAGE_COMMUNICATION_WRITING_CLEAR_AND_EFFICIENT_EMAIL')">
			<i class="icon" ng-class="{'ion-ios-heart': isActive, 'ion-ios-heart-outline': !isActive}"></i>
		</button>
	</ion-nav-buttons>
	<ion-content ng-controller="accordion">
		<div class="row">
			<div class="col">
				<ion-list>
					<ion-item class="item-stable white-space-normal" ng-click="setView(1)">
						<i class="icon pull-right" ng-class="view === 1 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							1. Use Reply All, CC and BCC strategically.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 1">
						<p>
							a. In addition to main recipient(s) think about potential stakeholders and ask yourself: ‘Who is this message relevant for?’, Who do I need to keep up-to-date?’<br />
							
						</p>
						<p>
							b. To avoid your stakeholders seeing each other’s email addresses use BCC.
						</p>
					</ion-item>
					
					<ion-item class="item-stable white-space-normal" ng-click="setView(2)">
						<i class="icon pull-right" ng-class="view === 2 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							2. State the reason for your message clearly and positively in the Subject box.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 2">
						<p>
							a. Use keywords from your message.
						</p>
						<p>
							b. Avoid words like ‘URGENT’. Instead state the deadline in the Subject box, if necessary.
						</p>
						<p>
							c. Avoid negative words. The reader will find out about the message in the body of the email anyway. Give them the chance to absorb the message with a positive mind.
						</p>
					</ion-item>
					<ion-item class="item-stable white-space-normal" ng-click="setView(3)">
						<i class="icon pull-right" ng-class="view === 3 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							3. Reinforce the relationship up-front.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 3">
						<p>
							a. Show appreciation towards the recipient and set a positive tone by a giving genuine compliment.
						</p>
						<p>
							Example: ‘Thank you for your message’; ‘I hope this message finds you well.’
						</p>
					</ion-item>
					<ion-item class="item-stable white-space-normal" ng-click="setView(4)">
						<i class="icon pull-right" ng-class="view === 4 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							4. State the purpose of your email, and start with the why.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 4">
						<p>
							a. Put your email into context by describing the big picture of the topic you are writing about.<br />
							Example: ‘I’m writing with reference to the development project’
						</p>
						<p>
							b. Create buy-in by describing the expected outcome of the desired action. Let your recipient know why this communication is important. Example: ‘Doing so will enable us to…’
						</p>
					</ion-item>
					<ion-item class="item-stable white-space-normal" ng-click="setView(5)">
						<i class="icon pull-right" ng-class="view === 5 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							5. Describe what needs to be done. Be short, and use bullet points.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 5">
						<p>
							a. State your request in a polite tone. Example: ‘Could you please…’
						</p>
						<p>
							b. Think about the questions the recipient might ask and answer those up front.
						</p>
						<p>
							c. If you need to align schedules or agree on options give 2-3 alternatives that work for you to avoid email ping-pong.
						</p>
						<p>
							d. If you reference previous emails be sure to reply to the original thread that contains the necessary information you are referring to.
						</p>
					</ion-item>
					<ion-item class="item-stable white-space-normal" ng-click="setView(6)">
						<i class="icon pull-right" ng-class="view === 6 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							6. Reinforce next steps for both sides including deadlines.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 6">
						<p>
							a. Reiterate the call to action and deadline including your own deliverables.
						</p>
						<p>
							b. Close with a positive message: I’m looking forward…’, ‘Thanks in advance’
						</p>
					</ion-item>
					<ion-item class="item-stable white-space-normal" ng-click="setView(7)">
						<i class="icon pull-right" ng-class="view === 7 ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>&nbsp;
						<span>
							7. Proofread, check attachments and recipients once again before sending.
						</span>
					</ion-item>
					<ion-item class="item-accordion white-space-normal" ng-show="view === 7">
						<p>
							a. Put yourself in the recipients’ shoes, read through your message and ask yourself ‘If I got this message would I understand/ be offended/ be motivated…’
						</p>
						<p>
							b. If necessary enable Reverse Send feature in your email program, so you can undo the email in case you need to make some last minute changes.
						</p>
					</ion-item>
				</ion-list>
			</div>
		</div>
	</ion-content>
</ion-view>