<ion-view view-title="{{ 'FAVORITES_TITLE' | translate }}">
	<ion-content>
		<div class="row">
			<div class="col col-50">
				<button class="button button-assertive button-outline" ng-class="{'active': data.showDelete}" ng-click="data.showDelete = !data.showDelete; data.showReorder = false" translate="FAVORITES_BUTTON_DELETE">
					Delete
				</button>
			</div>
			<div class="col col-50 text-right">
				<button class="button button-balanced button-outline" ng-class="{'active': data.showReorder}" ng-click="data.showDelete = false; data.showReorder = !data.showReorder" translate="FAVORITES_BUTTON_REORDER">
					Reorder
				</button>
			</div>
		</div>
		<div class="row" ng-hide="favorites.length > 0">
			<div class="col">
				<span translate="FAVORITES_NO_FAVORITES_YET">
					"You don't have any favorites yet."
				</span>
			</div>
		</div>
		<ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
			<ion-item ng-repeat="favorite in favorites" item="item" ui-sref="tabs.{{favorite.state}}" class="item-remove-animate">
				<span translate="{{favorite.title}}">	
				</span>
				<ion-delete-button class="ion-minus-circled" ng-click="onFavoriteDelete(favorite)">
				</ion-delete-button>
				<ion-reorder-button class="ion-navicon" on-reorder="moveFavorite(favorite, $fromIndex, $toIndex)">
				</ion-reorder-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>