<ion-view view-title="{{ 'HOME_TITLE' | translate }}" ng-controller="HomeController">
	<ion-content>
		<div class="row">
			<div class="col card text-center">
				<a ui-sref="tabs.communication">
					<div class="item item-text-wrap">
						<i class="icon ion-chatbubbles"></i><br/>
						<span>
							{{'HOME_COMMUNICATION' | translate }}
						</span>
					</div>
				</a>
			</div>
			<div class="col card text-center">
				<a ui-sref="tabs.teamwork">
					<div class="item item-text-wrap">
						<i class="icon ion-ios-people"></i><br/>
						<span>
							{{'HOME_TEAM_WORK' | translate }}
						</span>
					</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col card text-center">
				<a ui-sref="tabs.leadership">
					<div class="item item-text-wrap">
						<i class="icon ion-ribbon-b"></i><br/>
						<span>
							{{'HOME_LEADERSHIP' | translate }}
						</span>
					</div>
				</a>
			</div>
			<div class="col card text-center">
				<a ui-sref="tabs.effectiveness">
					<div class="item item-text-wrap">
						<i class="icon ion-ios-timer"></i><br/>
						<span>
							{{'HOME_EFFECTIVENESS' | translate }}
						</span>
					</div>
				</a>
			</div>			
		</div>
		<div class="row">
			<div class="col card text-center">
				<a ui-sref="tabs.customersupport">
					<div class="item item-text-wrap">
						<i class="icon ion-trophy"></i><br/>
						<span>
							{{'HOME_CUSTOMER_SUPPORT' | translate }}
						</span>
					</div>
				</a>
			</div>
			<div class="col card text-center">
				<a ui-sref="tabs.change">
					<div class="item item-text-wrap">
						<i class="icon ion-lightbulb"></i><br/>
						<span>
							{{'HOME_CHANGE' | translate }}
						</span>
					</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col card text-center">
				<a ui-sref="tabs.conflict">
					<div class="item item-text-wrap">
						<i class="icon ion-flash"></i><br/>
						<span>
							{{'HOME_CONFLICT' | translate }}
						</span>
					</div>
				</a>
			</div>
			<div class="col card text-center">
				<a ui-sref="tabs.presenting">
					<div class="item item-text-wrap">
						<i class="icon ion-easel"></i><br/>
						<span>
							{{'HOME_PRESENTING' | translate }}
						</span>
					</div>
				</a>
			</div>
		</div>


		<div class="row">
			<div class="col card text-center">
				<a ui-sref="tabs.swipe">
					<div class="item item-text-wrap">
						<i class="icon ion-nuclear"></i><br/>
						<span>
							Swipe test
						</span>
					</div>
				</a>
			</div>
			<div class="col card text-center">
				<a ui-sref="tabs.swipe2">
					<div class="item item-text-wrap">
						<i class="icon ion-nuclear"></i><br/>
						<span>
							Checklist test
						</span>
					</div>
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>