<ion-view view-title="{{ 'RECENT_TITLE' | translate }}">
	<ion-content>
		<div class="row">
			<div class="col">
				<a ui-sref="{{content.state}}" class="button button-block button-light" ng-repeat="content in recentContent" translate="{{content.title}}">
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>