<ion-view view-title="{{ 'SEARCH_TITLE' | translate }}">
	<ion-content>
		<div class="list list-inset">
			<ion-input class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="{{'SEARCH_SEARCH_INPUT_PLACEHOLDER' | translate}}" ng-model="search" ng-change="searchGrid(search)">
			</ion-input>
		</div>
		<div class="row">
			<div class="col">
				<a ui-sref="{{content.state}}" class="button button-block button-light" ng-repeat="content in contentItems" translate="{{content.title}}">
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>