<ion-view view-title="{{ 'SIGN_OUT_NAVBAR_TITLE' | translate }}">
	<ion-content class="center">
		<span ng-bind-html="'SIGN_OUT_CONTENT' | translate">
			It is not a big surprise if we tell you that <br />you need to login again if you log out now, right? <br /> So we don't recommend it, but it's a free world :).
		</span>
		<button class="button button-block button-balanced" ng-click="logout()">
			<strong translate="SIGN_OUT_BUTTON_LOG_OUT">
			</strong>
		</button>
	</ion-content>
</ion-view>