<ion-view view-title="{{ 'CATEGORY_PAGE_COMMUNICATION_GETTING_COMMITMENT' | translate }}" ng-init="pageTitle = 'CATEGORY_PAGE_COMMUNICATION_GETTING_COMMITMENT'">
	<ion-nav-buttons side="right">
		<button class="button transparent-background" ng-click="favor('CATEGORY_PAGE_COMMUNICATION_GETTING_COMMITMENT')">
			<i class="icon" ng-class="{'ion-ios-heart': isActive, 'ion-ios-heart-outline': !isActive}"></i>
		</button>
	</ion-nav-buttons>
	<ion-content ng-controller="CardsCtrl" no-scroll>
		<div class="row">
			<div class="col">
				<progress id="progressbar" max="{{progressBarMax}}" value="{{progressBarValue}}"> </progress>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div ng-if="cards.active" style="margin-top: 360px;">
					<td-cards>
						<td-card ng-repeat="card in cards.active" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwiped($index)" on-swipe-right="cardSwiped($index)">
							<div style="padding:10px;">
								<div class="no-text"><i class="icon ion-checkmark-circled"></i></div>
								<div class="yes-text"><i class="icon ion-checkmark-circled"></i></div>
								<h4>
									{{card.title}}
								</h4>
								<p ng-bind-html="card.content">
								</p>
								<i class="icon ion-android-arrow-dropleft-circle" ng-click="goToPreviousCard()" style="position: absolute; bottom: 16px; left: 20px; font-size: 30px; color: #666;"></i>
							</div>
						</td-card>
						<td-card id="end-card" drag="false">
							<i class="icon ion-ios-refresh disable-user-behavior" ng-click="refreshCards()"></i>
						</td-card>
					</td-cards>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>