<!--<ion-tabs class="tabs-icon-only tabs-balanced">
	<ion-tab title="Home" icon="ion-home" ui-sref="tabs.home" badge="2" badge-style="badge-assertive">
		<ion-nav-view name="home-tab">
		</ion-nav-view>
	</ion-tab>

</ion-tabs>
-->

<ion-tabs class="tabs-striped tabs-icon-top tabs-stable">

	<ion-tab title="Library" icon="ion-ios-book" href="#/tab/home">
		<ion-nav-view name="home-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Favorites" icon="ion-heart" href="#/tab/favorite">
		<ion-nav-view name="favorite-tab">
		</ion-nav-view>
	</ion-tab>

	<ion-tab title="Search" icon="ion-search" ui-sref="tabs.search">
		<ion-nav-view name="search-tab">
		</ion-nav-view>
	</ion-tab>

	<ion-tab title="Recent" icon="ion-ios-clock" ui-sref="tabs.recent">
		<ion-nav-view name="recent-tab">
		</ion-nav-view>
	</ion-tab>

	<ion-tab title="Settings" ui-sref="tabs.settingscontainer" hidden="true">
		<ion-nav-view name="settings-tab">
		</ion-nav-view>
	</ion-tab>

</ion-tabs>