<ion-view view-title="{{ 'ACCOUNT_NAVBAR_TITLE' | translate }}" >
	<ion-content>
		<ul class="list">
			<a ui-sref="tabs.change-password">
				<li class="item" translate="ACCOUNT_CHANGE_PASSWORD">
					Change Password
				</li>
			</a>
			<a ui-sref="tabs.subscription">
				<li class="item" translate="ACCOUNT_MANAGE_SUBSCRIPTION">
					Manage Subscription
				</li>
			</a>
			<a ui-sref="tabs.deleteaccount">
				<li class="item" translate="ACCOUNT_DELETE_ACCOUNT">
					Delete Account
				</li>
			</a>
		</ul>
	</ion-content>
</ion-view>