<ion-view view-title="{{ 'CHANGE_PASSWORD_NAVBAR_TITLE' | translate }}">
	<ion-content class="center">
		<form name='changePasswordForm' ng-submit="changePassword(oldPassword, newPassword)">
			<ion-input class="item item-input">
				<input type="password" ng-model="oldPassword" placeholder="{{ 'CHANGE_PASSWORD_INPUT_OLD_PASSWORD' | translate }}">
			</ion-input>
			<ion-input class="item item-input">
				<input id="email" name="email" ng-model="newPassword" required="true" type="password" placeholder="{{ 'CHANGE_PASSWORD_INPUT_NEW_PASSWORD' | translate }}" />
			</ion-input>
			<ion-input class="item item-input">
				<input name="newPasswordConfirm" ng-model="newPasswordConfirm" required="true" type="password" match="newPassword" placeholder="{{ 'CHANGE_PASSWORD_INPUT_CONFIRM_PASSWORD' | translate }}" />
				<i class="icon ion-checkmark balanced padding-right" ng-show="changePasswordForm.newPasswordConfirm.$valid">
				</i>
				<i class="icon ion-close assertive padding-right" ng-show="changePasswordForm.newPasswordConfirm.$error.mismatch">
				</i>
			</ion-input>
			<button type="submit" ng-disabled='changePasswordForm.$invalid' class="button button-block button-balanced" translate='CHANGE_PASSWORD_BUTTON_SAVE'>
				Save
			</button>
		</form>
	</ion-content>
</ion-view>