<ion-view view-title="{{ 'FEEDBACK_CONTACT_NAVBAR_TITLE' | translate }}" >
	<ion-content>
		<div class="row">
			<div class="col">
				<a href="mailto:office@lighthouse-od.com?subject=Request for bit&body=I would like to request a bit for the following topic: ..." class="button button-block button-light" translate="FEEDBACK_CONTACT_REQUEST_TOPIC">
					Request a topic
				</a>
				<a href="mailto:office@lighthouse-od.com?subject=General feedback" class="button button-block button-light" translate="FEEDBACK_CONTACT_GENERAL_FEEDBACK">
					General feedback
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>