<ion-view view-title="{{ 'HELP_CENTER_NAVBAR_TITLE' | translate }}" >
	<ion-content>
		<div class="row">
			<div class="col">
				<h1>
					Help center
				</h1>
				<p>
					This is the help center.
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>