<ion-view view-title="{{ 'PRIVACY_POLICY_NAVBAR_TITLE' | translate }}" >
	<ion-content>
		<div class="row">
			<div class="col">
				<h1>
					Privacy Policy
				</h1>
				<p>
					This is the privacy policy.
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>