<ion-view view-title="{{ 'SETTINGS_NAVBAR_TITLE' | translate }}">
	<ion-content>
		<div class="list">
			<!--<div class="item item-divider" translate="SETTINGS_DIVIDER_WELCOME_SCREEN">
				Welcome screen
			</div>
			<div class="row">
				<div class="col-33">
					<button class="button button-block button-balanced">
						<i class="icon ion-home"></i><br/>
						<span translate="SETTINGS_WELCOME_SCREEN_MY_BITS">
							My bits
						</span>
					</button>
				</div>
				<div class="col-33">
					<button class="button button-block button-light">
						<i class="icon ion-heart"></i><br/>
						<span translate="SETTINGS_WELCOME_SCREEN_FAVORITES">
							Favorites
						</span>
					</button>
				</div>
				<div class="col-33">
					<button class="button button-block button-light">
						<i class="icon ion-ios-clock"></i><br/>
						<span translate="SETTINGS_WELCOME_SCREEN_LAST_VIEWED">
							Last viewed
						</span>
					</button>
				</div>
			</div>-->
			<div class="item item-divider" translate="SETTINGS_DIVIDER_BASICS">
				Basics
			</div>
			<ion-input class="item item-input item-select">
				<div class="input-label" translate="SETTINGS_BASICS_LANGUAGE">
					Language
				</div>
				<select ng-controller="languageSelectCtlr" ng-change="changeLanguage()" ng-model="languageSelectModel">
					<option selected translate="SETTINGS_BASICS_LANGUAGE_ENGLISH" value="en">
						English
					</option>
					<option translate="SETTINGS_BASICS_LANGUAGE_GERMAN" value="de">
						Deutsch
					</option>
				</select>
			</ion-input>
			<div class="item item-toggle">
				<span translate="SETTINGS_STAY_LOGGED_IN">
					Stay logged in
				</span>
				<label class="toggle toggle-balanced">
					<input type="checkbox" id="notifications" ng-model="ModelData.stay_logged_in"/>
					<div class="track">
						<div class="handle">
						</div>
					</div>
				</label>
			</div>
			<div class="item item-toggle">
				<span translate="SETTINGS_NOTIFICATIONS">
					Notifications
				</span>
				<label class="toggle toggle-balanced">
					<input type="checkbox" id="notifications" ng-model="ModelData.notifications"/>
					<div class="track">
						<div class="handle">
						</div>
					</div>
				</label>
				<p ng-show="ModelData.notifications" translate="SETTINGS_NOTIFICATIONS_SUBTEXT">
					Push notifications on your phone
				</p>
			</div>
			<div class="item item-toggle" ng-show="ModelData.notifications">
				<span translate="SETTINGS_NOTIFICATIONS_EMAIL">
					Email
				</span>
				<label class="toggle toggle-balanced">
					<input type="checkbox"/>
					<div class="track">
						<div class="handle">
						</div>
					</div>
				</label>
				<p ng-show="ModelData.notifications" translate="SETTINGS_NOTIFICATIONS_EMAIL_SUBTEXT">
					Send me an email too
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>