<ion-view view-title="{{ 'ACCOUNT_NAVBAR_TITLE' | translate }}" >
	<ion-content class="center sign-in">
		<p ng-bind-html="subscriptionType">
			You have a XXX subscription.
		</p>
		<p ng-bind-html="expiry">
			Your account will be expire in XXX days.
		</p>
		<!--<a ui-sref="tabs.getpremium" class="button button-block button-light" translate="ACCOUNT_SUBSCRIPTION_BUTTON_GET_PREMIUM">
			Get premium account
		</button>-->
		<a ui-sref="tabs.unlockwithcode" class="button button-block button-stable" translate="ACCOUNT_SUBSCRIPTION_BUTTON_COMPANY_CODE">
			Type in company code
		</a>
	</ion-content>
</ion-view>