<ion-view view-title="{{ 'ACCOUNT_NAVBAR_TITLE' | translate }}" >
	<ion-content class="center sign-in">
		<p translate="ACCOUNT_SUBSCRIPTION_UNLOCK_WITH_CODE_INTRO">
		</p>
		<form name='verifyForm' ng-submit="verifyCode(code)">
			<ion-input class="item item-input">
				<input type="password" ng-model="code" required="true" placeholder="{{ 'ACCOUNT_SUBSCRIPTION_UNLOCK_WITH_CODE_INPUT_PLACEHOLDER' | translate }}">
			</ion-input>
			<button type="submit" ng-disabled='verifyForm.$invalid' class="button button-block button-balanced" translate='ACCOUNT_SUBSCRIPTION_UNLOCK_WITH_CODE_BUTTON_VERIFY'>
				Verify
			</button>
		</form>
	</ion-content>
</ion-view>