<ion-view view-title="{{ 'CATEGORY_CONFLICT_TITLE' | translate }}">
	<ion-content>
		<div class="row">
			<div class="col">
				<a ui-sref="tabs.communicating-with-someone-who-broke-their-commitment" class="button button-block button-light" translate="CATEGORY_COMMUNICATION_COMMUNICATING_WITH_SOMEONE_WHO_BROKE_THEIR_COMMITMENT">
					Communicating with someone who broke their Commitment
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>