<ion-view view-title="{{ 'CATEGORY_PRESENTING_TITLE' | translate }}">
	<ion-content>
		<div class="row">
			<div class="col">
				<a ui-sref="tabs.presenting-with-impact" class="button button-block button-light" translate="CATEGORY_COMMUNICATION_PRESENTING_WITH_IMPACT">
					Presenting with Impact
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>