<ion-view view-title="{{ 'CATEGORY_LEADERSHIP_TITLE' | translate }}">
	<ion-content>
		<div class="row">
			<div class="col">
				<a ui-sref="tabs.dealing-with-stress-performance-anxiety" class="button button-block button-light" translate="CATEGORY_COMMUNICATION_DEALING_WITH_STRESS">
					Dealing with Stress/Performance Anxiety
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>