<ion-view view-title="{{ 'APP_NAME' | translate }}">
	<ion-content class="login-form">
		<div class="login-form-wrapper login-form-wrapper-big">
			<div class="width-70">
				<img src="img/logo.png">
				<a ui-sref="signupchoice" class="button button-block button-light" translate="SIGN_IN_OR_UP_CHOICE_BUTTON_SIGN_UP">
					Sign up
				</button>
				<a ui-sref="signinchoice" class="button button-block button-stable" translate="SIGN_IN_OR_UP_CHOICE_BUTTON_SIGN_IN">
					Sign in
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>