<ion-view view-title="{{ 'APP_NAME' | translate }}">
	<ion-content>
		<div class="list">
			<a class="item sign-up-card company-code center-icon" ui-sref="signincode">
				<div class="row max-height">
					<div class="col center2">
						<i class="icon ion-unlocked"></i>
						<p translate="SIGN_IN_WITH_CODE">
						    Sign in with code.
						</p>
					</div>
				</div>
			</a>
			<a class="item sign-up-card email" ui-sref="signinmail">
				<div class="row max-height">
					<div class="col center2">
						<i class="icon ion-email"></i>
						<p translate="SIGN_IN_WITH_MAIL">
							Sign in with email.
						</p>
					</div>
				</div>
			</a>
			<a class="item sign-up-card facebook" ng-click="signInFacebook()">
				<div class="row max-height">
					<div class="col center2">
						<i class="icon ion-social-facebook"></i>
						<p translate="SIGN_IN_WITH_FACEBOOK">
						    Sign in with facebook.
						</p>
					</div>
				</div>
			</a>
			<a class="item sign-up-card google" ng-click="signInGoogle()">
				<div class="row max-height">
					<div class="col center2">
						<i class="icon ion-social-google"></i>
						<p translate="SIGN_IN_WITH_GOOGLE">
						    Sign in with google.
						</p>
					</div>
				</div>
			</a>
		</div>
	</ion-content>
</ion-view>