<ion-view view-title="{{'SIGN_UP_NAVBAR_TITLE' | translate}}">
	<ion-content class="login-form">
		<div class="login-form-wrapper login-form-wrapper-big">
			<div class="width-70">
				<img src="img/logo.png" class="margin-bottom-10">
				<form name='signUpForm'>
					<ion-input class="item item-input centered-with-icon border-radius-top">
						<input type="email" name="emailAddress" ng-model="mailAddress" placeholder="{{'SIGN_IN_INPUT_EMAIL_ADDRESS' | translate}}" overwrite-email required>
						<i class="icon ion-checkmark balanced padding-right" ng-show="signUpForm.emailAddress.$valid">
						</i>
						<i class="icon ion-close assertive padding-right" ng-show="signUpForm.emailAddress.$error.email">
						</i>
					</ion-input>
					<ion-input class="item item-input centered-with-icon">
						<input id="email" name="email" type="password" ng-model="password" placeholder="{{'SIGN_IN_INPUT_PASSWORD' | translate}}" required />
					</ion-input>
					<ion-input class="item item-input centered-with-icon border-radius-bottom">
						<input name="passwordConfirm" type="password" ng-model="passwordConfirm" placeholder="{{'SIGN_UP_INPUT_PASSWORD_CONFIRM' | translate}}" match="password" required/>
						<i class="icon ion-checkmark balanced padding-right" ng-show="signUpForm.passwordConfirm.$valid">
						</i>
						<i class="icon ion-close assertive padding-right" ng-show="signUpForm.passwordConfirm.$error.mismatch">
						</i>
					</ion-input>
					<button ng-disabled='signUpForm.$invalid' class="button button-block button-balanced" ng-click="signUp(mailAddress, password)">
						<strong translate="SIGN_UP_BUTTON_SIGN_UP">
							Sign up
						</strong>
					</button>
				</form>	
			</div>
		</div>
	</ion-content>
</ion-view>