<ion-view view-title="{{ 'APP_NAME' | translate }}">
	<ion-content class="login-form">
		<div class="login-form-wrapper login-form-wrapper-big">
			<div class="width-70">
				<p translate="SIGN_UP_WITH_CODE_INTRO" ng-if="codeInput === true">
					Did your company provide you with a code?
				</p>
				<form name="signUpForm" ng-submit="checkCode(user.code)" ng-if="codeInput === true">
					<ion-input class="item item-input border-radius-bottom">
						<input type="number" ng-model="user.code" placeholder="{{'SIGN_UP_WITH_CODE_INPUT_CODE' | translate}}" required>
					</ion-input>
					<button type="submit" ng-disabled="signUpForm.$invalid" class="button button-block button-balanced">
						<strong translate="SIGN_UP_WITH_CODE_BUTTON_SIGN_UP">
							Sign up
						</strong>
					</button>
				</form>
			</div>
		</div>
	</ion-content>
</ion-view>