<h2 translate="SIGN_UP_WITH_CODE_SUCCESS_HEADLINE">
	Bingo!
</h2>
<p>
	<span translate="SIGN_UP_WITH_CODE_SUCCESS_MAIL_ADDRESS">
		Your mail address:
	</span><br /> 
	{{mailAddress}}.
</p>
<p translate="SIGN_UP_WITH_CODE_SUCCESS_CHOOSE_PASSWORD">
	Please choose a password now: 
</p>

<form name='signUpForm' ng-submit="signUpWithCode(password)">
	<ion-input class="item item-input centered-with-icon">
		<input type="password" ng-model="password" placeholder="{{'SIGN_IN_INPUT_PASSWORD' | translate}}" required />
	</ion-input>
	<ion-input class="item item-input centered-with-icon border-radius-bottom">
		<input name="passwordConfirm" type="password" ng-model="passwordConfirm" placeholder="{{'SIGN_UP_INPUT_PASSWORD_CONFIRM' | translate}}" match="password" required/>
		<i class="icon ion-checkmark balanced padding-right" ng-show="signUpForm.passwordConfirm.$valid">
		</i>
		<i class="icon ion-close assertive padding-right" ng-show="signUpForm.passwordConfirm.$error.mismatch">
		</i>
	</ion-input>
	<button type="submit" ng-disabled='signUpForm.$invalid' class="button button-block button-balanced">
		<strong translate="SIGN_UP_BUTTON_SIGN_UP">
			Join
		</strong>
	</button>
</form>