<ion-view view-title="{{ 'APP_NAME' | translate }}">
	<ion-content class="login-form logout-background">
		<div class="login-form-wrapper login-form-wrapper-big">
			<div  class="width-70">
				<img src="img/logo.png" class="margin-bottom-10">
				<form name="signInForm" ng-submit="signInMail(user.username, user.password)">
					<ion-input class="item item-input centered-with-icon border-radius-top">
						<input type="email" name="input" ng-model="user.username" placeholder="{{'SIGN_IN_INPUT_EMAIL_ADDRESS' | translate}}" overwrite-email required>
						<i class="icon ion-checkmark balanced padding-right" ng-show="signInForm.input.$valid">
						</i>
						<i class="icon ion-close assertive padding-right" ng-show="signInForm.input.$error.email">
						</i>
					</ion-input>
					<ion-input class="item item-input border-radius-bottom">
						<input type="password" ng-model="user.password" placeholder="{{'SIGN_IN_INPUT_PASSWORD' | translate}}" required>
					</ion-input>
					<button type="submit" ng-disabled="signInForm.$invalid" class="button button-block button-balanced">
						<strong translate="SIGN_IN_BUTTON_SIGN_IN">
							Sign in
						</strong>
					</button>
				</form>
				<p class="text-center sign-in">
					<span>
						<a href="#/forgot-password" translate="SIGN_IN_LINK_FORGOT_PASSWORD">
							Forgot password
						</a>
					</span>
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>