<h2 translate="SIGN_UP_WITH_CODE_SUCCESS_HEADLINE">
	Bingo!
</h2>
<p>
	<span translate="SIGN_UP_WITH_CODE_SUCCESS_MAIL_ADDRESS">
		Your mail address:
	</span><br /> 
	{{mailAddress}}.
</p>
<p translate="SIGN_IN_WITH_CODE_TYPE_IN_PASSWORD">
	Please type in your password: 
</p>

<form name='signInForm' ng-submit="signInMail(mailAddress, password)">
	<ion-input class="item item-input centered-with-icon">
		<input type="password" ng-model="password" placeholder="{{'SIGN_IN_INPUT_PASSWORD' | translate}}" required />
	</ion-input>
	<button type="submit" ng-disabled='signInForm.$invalid' class="button button-block button-balanced">
		<strong translate="SIGN_IN_BUTTON_SIGN_IN">
			Sign in
		</strong>
	</button>
</form>

