<ion-view view-title="{{ 'CATEGORY_CHANGE_TITLE' | translate }}">
	<ion-content>
		<div class="row">
			<div class="col">
				<a ui-sref="tabs.before-making-a-commitment" class="button button-block button-light" translate="CATEGORY_COMMUNICATION_BEFORE_MAKING_A_COMMITMENT">
					Before Making a Commitment
				</a>
				<a ui-sref="tabs.getting-commitment" class="button button-block button-light" translate="CATEGORY_COMMUNICATION_GETTING_COMMITMENT">
					Getting Commitment
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>