<ion-view view-title="{{ 'CATEGORY_EFFECTIVENESS_TITLE' | translate }}">
	<ion-content>
		<div class="row">
			<div class="col">
				<a ui-sref="tabs.giving-constructive-feedback" class="button button-block button-light" translate="CATEGORY_COMMUNICATION_GIVING_CONSTRUCTIVE_FEEDBACK">
					Giving constructive Feedback
				</a>
				<a ui-sref="tabs.asking-for-feedback" class="button button-block button-light" translate="CATEGORY_COMMUNICATION_ASKING_FOR_FEEDBACK">
					Asking for Feedback
				</a>
				<a ui-sref="tabs.dealing-with-stress-performance-anxiety" class="button button-block button-light" translate="CATEGORY_COMMUNICATION_DEALING_WITH_STRESS">
					Dealing with Stress/Performance Anxiety
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>