/*------------------------------------*\
	# HELPERS
\*------------------------------------*/

.full-width {
	width: 100%;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.uppercase {
	text-transform: uppercase;
}

/* Length of progress bars in image cards */
.width-40 {
	width: 40%;
}

.tab-active {
	border-bottom: 2px solid #49b30c;
	font-weight: bold;
	color: #444;
}

.title {
	color: #fff;
}

a.title {
	text-decoration: none;
}

a.item {
	color: #444;
}

.border-radius-top {
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.border-radius-bottom {
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

/*textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	padding-left: 4px;
}*/

.transparent-background {
	background: transparent!important;
	background-color: transparent;
}

/*------------------------------------*\
	# NAVIGATION
\*------------------------------------*/

.bar.bar-stable {
	border-color: #49b30c;
}

.bar-balanced-dark {
	background-color: #49b30b;
}




/*------------------------------------*\
	# IMAGE CARDS
\*------------------------------------*/

/* All the cards with background images.
// Those are links on the home page, but
// just divs on the other pages
*/

a.photo-card {
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	color: #fff;
	font-size: 24px;
}

div.photo-card {
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	color: #fff;
	font-size: 24px;
}

/* Cards on home screen */
.company-code {
	background: #ffc900;
	height: 25%;
}

.facebook {
	background: #3d539f;
	height: 25%;
}

.google {
	background: #456afb;
	height: 25%;
}

.email {
	background: #33cd5f;
	height: 26%;
}

/* Cards on instant training tab */
.body-area {
	background-image: url(../img/office1.jpg);
	height: 50%;
}

.emotion {
	background-image: url(../img/office2.jpg);
	height: 50%;
}



/*------------------------------------*\
	# PROGRESS BARS
\*------------------------------------*/

/* Level progress bar = on image cards
// Exercise progress bar = below video
// in training view
*/

/* Level progress bar */

progress {
	background-color: #fff;
	height: 2px;
	margin: 13px 10px 0px 0px;
	border: none;
}

progress::-webkit-progress-bar {  
	background-color: #fff;
	height: 2px;
}

progress::-webkit-progress-value {  
	background-color: #66cc33;
	height: 2px;
}

progress::-moz-progress-bar {  
	background-color: #66cc33;
	height: 2px;
}

/* Exercise overall progress bar */
.overall-exercises progress {
	background-color: #f0b840;
}

.overall-exercises progress::-webkit-progress-bar{  
	background-color: #f0b840;
	
}

.overall-exercises progress::-webkit-progress-value {  
	background-color: #66cc33;
	height: 2px;
}

.overall-exercises progress::-moz-progress-bar {  
	background-color: #66cc33;
	height: 2px;
}

.overall-exercises progress::-moz-progress {  
	background-color: #66cc33;
	height: 2px;
}


/*------------------------------------*\
	# POPUPS
\*------------------------------------*/

.popup-container .popup {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.popup-container input {
	padding-left: 4px;
}


/*------------------------------------*\
	# OTHER STUFF
\*------------------------------------*/

.level {
	font-size: 12px;
}

.secondary-margin {
	margin: 49px 15px 0px 15px;
}

.counter {
	font-weight: bold;
	font-size: 16px;
	margin-top: 3px;
}

/*
.item p{
	color: #ff0000;
	font-size: 24px;
}
*/


/*
.sign-in-background {
	background-image: url(../img/sign-in.jpg);
}*/

.sign-in img {
	margin-bottom: 12px;
}

.sign-up-background {
	background-image: url(../img/sign-in.jpg);
}

.forgot-password-background{
	background-image: url(../img/sign-in.jpg);
}


.sign-in {
	margin-top: -5px;
}

.sign-in a {
	text-decoration: none;
	color: black;
}

.sign-in span {
	padding: 0px 2px 0px 2px;
}


/* Centers an object vertically and horizontally */

.center2{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.center2 label {
	margin: 0px;
}

/* Makes icons visible in v- & h-centered objects */
.centered-with-icon {
	display: -moz-box;
	display: -webkit-box;
	display: box;
	min-width: 220px;
}

/* Prevents black background on tabs on Android*/
.tabs-striped.tabs-positive .tabs {
	background: none;
}


.secondary-margin .col {
	margin-top: 0px;
	padding-top: 0px;
}

.secondary-margin .row {
	padding: 0px;
}

.secondary-margin h3 {
	padding-top: 15px;
}


.slider{
	position: absolute !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important ;
	right: 0 !important;
}

.statistic-tabs {
	margin-top: 64px; border-right: none;
}

.tabs-striped.tabs-background-positive .tab-item {
	color: #444;
}


a.emotion-card, a.area-card {
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	color: #fff;
	font-size: 24px;
}

.emotion-card {
	height: 33%;
	text-transform: uppercase;
	text-align: center;
	font-size: 28px;
}



.area-card {
	height: 25%;
	text-transform: uppercase;
	text-align: center;
	font-size: 28px;
	background: transparent;
}

/* Cards on home screen */
.tired {
	background-image: url(../img/office1.jpg);
}

.ok {
	background-image: url(../img/office3.jpg);
	height: 35%;
}

.energized {
	background-image: url(../img/office2.jpg);
}



.area {
	background-image: url(../img/body.jpg);
	background-size: 100% 100%;
}

a.area{
	color: #fff;
	font-size: 100px;
}

.max-height {
	height: 100%;
}

.breath-circle {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background-color: #333;
	opacity: 0.7;
	-moz-animation: pulse 2s infinite linear;
	-webkit-animation: pulse 2s infinite linear;
	
}

@-webkit-keyframes pulse { 
	0% { -webkit-transform: scale(1); } 
	50% { -webkit-transform: scale(1.5); } 
	100% { -webkit-transform: scale(1); } 
}

@keyframes pulse { 
	0% { transform: scale(1); } 
	50% { transform: scale(1.5); } 
	100% { transform: scale(1); } 
}


.tabs-background-positive .tabs, .tabs-background-positive > .tabs {
	border-color: #ddd;
}

.tabs-striped.tabs-positive .tab-item {
	color: #000;
}


.video-container {
	display: table;
	min-height: 200px;
	width: 100%;
	text-align: center;
	font-size: 100px;
}

.countdown {
	display: table-cell;
	vertical-align: middle;
}



.bar.bar-balanced {
	background-color: #7CC63F;
	border-color: #a7a7a7;
}




.sign-up-card .icon {
	font-size: 80px;
	color: #fff;
	margin-right: 30px;
}

.sign-up-card p {
	color: #fff;
}

.max-height{
	height: 100%;
}

.text-center{
	text-align: center;
}

.card .icon {
	font-size: 40px;
}

a {
	text-decoration: none;
}

.item.item-stable {
	margin-top: 10px;
}

.pull-right {
	float: right;
}

.sign-up img {
	margin-bottom: 10px;
}

.item-content {
	cursor: pointer;
}

.white-space-normal p, .white-space-normal span{
	white-space: normal;
}

.button.button-light {
	border-color: #ddd;
}

.button.button-stable {
	border-color: #b2b2b2;
}

.button {
	border-radius: 0px;
}


.tabs-striped.tabs-stable .tab-item.tab-item-active {
	color: #49B30B;
	border-color: #49B30B;
}

.tabs-striped .tabs {
	border-top: 1px solid #ddd;
}


// CARDS
.background-grey {
	background-color: #F7F7F7;
}

.td-title {
	position: absolute;
	top: 70px;
	width: 100%;
	text-align: center;
}

.td-title span {
	font-weight: bold;
}

td-cards {
	display: block;
}

td-card {
	position: absolute;
	top: calc(50% - 150px);
	left: calc(50% - 150px);
	width: 300px;
	height: 300px!important;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
	border-radius: 3px;
	background-color: #efefef!important;
}

td-card img {
	max-width: 100%;
	border-radius: 4px;
}

.yes-text {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 30px;
	//color: #4CAF50;
	opacity: 0;
}

.no-text {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 30px;
	color: #4CAF50!important;
	opacity: 0;
}

.discard {
	position: absolute;
	bottom: 20px;
	padding: 10px 15px;
	color: #FFF;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 0 5px 5px 0;
}

td-card#end-card {
	background-color: none;
	box-shadow: none;
	border-radius: none;
}

#end-card i {
	position: absolute;
	top: calc(50% - 55px);
	left: calc(50% - 40px);
	font-size: 100px;
}

.fade {
	-webkit-transition: 0.2s opacity linear;
	transition: 0.2s opacity linear;
	opacity: 0;
}

/*
.scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}*/

.scroll {
	height: 100%;
}

.center-vertically {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-left: 60px;
	padding-right: 60px;
	margin-top: 50%;
	position: absolute;
	width: 100%;
}




.no-margin-bottom {
	margin-bottom: 0px!important;
}


.auth-links a{
	color: #000!important;
	font-size: 14px;
}



.width-70 {
	text-align: center;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.login-form .scroll {
	height: 100%;
}

.login-form .login-form-wrapper {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -55px;
}

.login-form .item-input-rounded {
	border-radius: 10px;
	margin-bottom: 10px;
}

.login-form-wrapper-big {
	margin-top: -96px!important;
}

.login-form-wrapper-middle {
	margin-top: -70px!important;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}